.com-grid-article {
	width: 100%;
    height: 236rpx;
    margin-bottom: 10rpx;
    padding-left: 45rpx;
    background: #fff;
    box-sizing: border-box;
    font-family: PingFang SC;
    .grid-article-lt {
    	width: 50%;
        height: 100%;
    	display: inline-block;
        vertical-align:top;
        font-family: PingFang SC;
        .grid-article-title{
            height: 135rpx;
            padding-top: 25rpx;
            padding-right: 46rpx;
            font-size: 30rpx;   
            font-weight: bold;
            line-height: 45rpx;
            vertical-align: top;
            overflow: hidden;
            display: block;
            margin-bottom: 10rpx;
            color: #2a2a2a;
        }
        
        .grid-article-infor{
            font-size: 24rpx;
            color: #737373;
            line-height: 60rpx;
            .grid-article-type{
                margin-right: 40rpx;
            }
        }
    }
    
    .grid-article-rt {
    	width: 50%;
    	display: inline-block;
    	image {
    		width: 100%;
    		height: 236rpx;    	
    	}
    }
}
